/* navbar
%nav.navbar.navbar-light.navbar-customclass
  .nav-group.fixed-top.align-items-baseline.d-flex.justify-content-between
    %button.navbar-toggler.navbar-toggle.p-3{"aria-controls" => "navbarNav", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#navbarNav", "data-bs-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    #navbarNav.collapse.navbar-collapse
      %ul.navbar-nav
        %li.nav-item
          %a.nav-link.active{"aria-current" => "page", :href => "#"} Home
        %li.nav-item
          %a.nav-link{:href => "#"} Fukusukeとは
        %li.nav-item
          %a.nav-link{:href => "#"} 商品一覧
        %li.nav-item
          %a.nav-link{:href => "#"} 特集
    .navbar-brand.navbar-brand-center
      .container-fluid.p-2
        .nabvar-bland-custom
          =link_to root_path do
            %img.d-inline-block.align-text-top{:alt => "", :height => "60", :src => "/assets/logo2.png", :width => "60"}/
    .like-cart.p-3
      .button.btn.btn-outline-dark.fw-bold
        今すぐ注文
      - if user_signed_in?
        = link_to new_article_path do
          = icon("fas", "pen", class: "icon")
      -if user_signed_in?
        =link_to current_user do
          = icon("fas", "user-circle", class: "icon")
      -else
        =link_to new_user_session_path do
          .button.btn.btn-dark
            ログイン
      - if user_signed_in?
        = link_to destroy_user_session_path, method: :delete do
          = icon("fas", "sign-out-alt", class: "icon")
