/* navbar
%nav.navbar.navbar-light.navbar-customclass
  .container-fluid
  .bar-search
    = icon("fas", "bars", class: "bars-icon")
    = icon("fas", "search", class: "search-icon")
  =link_to root_path do
    .navbar-brand
      = icon("fas", "mug-hot", class: "coffee-icon")
      Fukusuke Coffee
  .like-cart
    - if user_signed_in?
      = link_to destroy_user_session_path, method: :delete do
        = icon("fas", "mug-hot", class: "coffee-icon")
    = link_to new_article_path do
      = icon("fas", "heart", class: "heart-icon")
    = icon("fas", "shopping-cart", class: "shopping-icon")
