.col
  .card.card-custom-class
    = link_to article_path(article) do
      %img.card-img-top{alt: "coffee", src: "#{article.image}"}/
    .card-body
      %h5.card-title
        = link_to article_path(article) do
          = article.title
      %p
        = link_to article_path(article) do
          .fw-bold
            詳細を読む
    .card-footer
      %small.text-muted
        = article.updated_at.strftime("%Y年%-m月%-d日")