.content
  .container.card-custom-class.position-relative
    .color-box-bottom.float-start.text-center new
    .card
      .row.g-0 
        .col-6
          .card-body 
            %h5.card-title
              = link_to article_path(article) do
                = article.title
            .card-text
              = link_to article_path(article) do
                = article.description.truncate(100)
        .col-6
          = link_to article_path(article) do
            %img.card-img-top{alt: "coffee", src: "#{article.image}"}
