= render "template/navbar"
= render "template/navtab"
/* main
%body.body-customclass
  .content-wrap-new
    .title-class-new.d-flex.justify-content-start
      New Arrival
    .p-5
      = render @articles
  .content-wrap-pickup
    .title-class.d-flex.justify-content-start
      Pick Up
    .p-5
      = render @articles
= render "template/card"
= render "template/footer"