= render "template/navbar"
= render "template/navtab"
/* main
%body.body-customclass
  .content-wrap-new
    .title-class-new.d-flex.justify-content-start
      特集
    .p-5
      = render @articles
  .content-wrap-pickup
    .title-class.d-flex.justify-content-start
      おすすめの記事
    .p-5
      = render @articles
= render "template/footer"