/* navbar
%nav.navbar.navbar-light.navbar-customclass
  .container-fluid
  .bar-search
    = icon("fas", "bars", class: "bars-icon")
    = icon("fas", "search", class: "search-icon")
  %a.navbar-brand{:href => "#"}
    = icon("fas", "mug-hot", class: "coffee-icon")
    Fukusuke Coffee
  .like-cart
    = icon("fas", "heart", class: "heart-icon")
    = icon("fas", "shopping-cart", class: "shopping-icon")
/* navtab
%ul.nav.justify-content-center.navtab-customclass
  %li.nav-item
    %a.nav-link.active{"aria-current" => "page", :href => "#"} Fukusukeとは
  %li.nav-item
    %a.nav-link{:href => "#"} 使い方
  %li.nav-item
    %a.nav-link{:href => "#"} 読みもの
  %li.nav-item
    %a.nav-link.disabled{"aria-disabled" => "true", :href => "#", :tabindex => "-1"} お買い物
/* main
.container-fluid.header-customclass
  hello!
.container-fluid.main-customclass
  .row.justify-content-center
    %p text
    %button.btn.btn-outline-warning.btn-customclass{:type => "button"} 続きを読む
.container.title-class
  今日のメニュー
