= render "template/navbar"
= render "template/navtab"
/* main
%body.body-customclass
  .content-wrap-new
    .title-class-new.d-flex.justify-content-start
      New Arrival
      = image_tag @barcode.to_png_image
    .content-custom-class-green
      %ul.cardys
        = render @articles
  .content-wrap-pickup
    .title-class.d-flex.justify-content-start
      Pick Up
    .content-custom-class-grey
      %ul.cardys
        = render @articles
= render "template/card"
= render "template/footer"