= render "template/navbar"
= render "template/navtab"
/* main
%body.body-customclass
  .title-class.d-flex.justify-content-start
    New Arrival
  .content-custom-class-green
    = render @articles
  .title-class.d-flex.justify-content-start
    Pick Up
  .content-custom-class-grey
    = render @articles
= render "template/footer"