= render "template/navbar"
= render "template/navtab"
= render "template/breadcrumb"

.container.show-body-customclass
  %img.card-img-top{alt: "coffee", src: "#{@article.image}"}/
  %h4
    = @article.title
  %p
    =simple_format(@article.description)
  .cart-customclass.d-grid.gap-2
    %h3 
      = @article.title
    %button.btn.btn-danger
      カートに入れる

= render "template/footer"